<h1>Request Form</h1>
<%= form_tag("/request_response") do %>
<div class="requrest-form">
<textarea class="form-control" rows="5" name="content"></textarea>
<p></p>
<input type="submit">
<% end %>
</div>