// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.groups {
    width:90%;
    text-align:center;
    margin:0 auto;
}

.for_image_change{
    width:25%;
}

.file-upload-button{
    text-align:center;
    margin: 0 auto;
}